/*---------------------Вторая секция-----------------------*/
//Данные переменные отвечает за цвет иконок и подзаголовков
$bg_color_item:#1eacc7;
$color_subtitle:#1eacc7;

/*---------------------Четвертая секция-----------------------*/
$choice_color_title_text:#ffffff;

$choice_color_subtitle_text:#ffffff;

$choice_color_label_bg:#ffffff;
$choice_color_label_text:#070716;

$choice_color_top:#070716;

/*---------------------Шестая секция---------------------------*/
$world_color_title_text:#ffffff;

$world_color_subtitle_text:#ffffff;

$world_color_label_bg:#ffffff;
$world_color_label_text:#070716;

